.users_list_heading{
    text-align: center;
}

.users_list{
    text-align: center;
}

.users_list a{
    color: black;
    border-bottom: 1px solid black;
}

.users_email_show{
    text-align: center;
}