body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  background: #DCDCDC;
  font-weight: 300;
  
}

a {
  text-decoration: none;
}

.app-cont {
  max-width: 1080px;
  margin: 0 auto;
}

.app-cont-thin {
  max-width: 650px;
  background: #fff;
  padding: 1em 0;
  border-radius: 3px;
}

#job_description_index{
  text-align: center;
}

#job_description_index a{
  text-align: center;
  color: black;
  border-bottom: 1px solid black;
}

#description_test{
  border-bottom: 1px solid black;
}

#heading_job_list{
  text-align: center;
  font-size: 3vmax;
}

.new_job_form{
  text-align: center;
}

#new_job_text{
  color: black;
  border-bottom: 1px solid black;
}